.navigation-title{
    font-size: large;
    font-weight: bold;
}

.navbar-style{

    
    background-color: rgb(65, 197, 236);
    div{
        background-color: rgb(65, 197, 236);
    }
    a.navigation-title{
        color: #FFFF;
    }
    
}

.styleModeContainer{
    width: 120px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    padding: 5px;

    .styleLight{
        position: absolute;
        top:25px;
        width: 30px;
        height: 30px;  
        border-radius: 50%;
        background-color: yellow;
    }
    .styleDark{
        position: absolute;
        top:25px;
        width: 30px;
        height: 30px;  
        border-radius: 50%;
        background-color: blue;
    }


}
