.navigation-title{
    font-size: large;
    font-weight: bold;
}


$backColor: #1e253d;

.navbar-style{

    
    background-color: $backColor;
    div{
        background-color: $backColor;
    }
    a.navigation-title{
        color: #FFFF;
    }
    
}

