<div class="columns is-centered navbar-style p-0 m-0">
  <div class="column is-12 p-0 m-0" style="margin-bottom: 0">
    <nav
      class="navbar is-dark"
      role="navigation"
      aria-label="main navigation"
      style="height: 80px; padding: 0 10%"
    >
      <div class="navbar-brand">
        <a class="navbar-item navigation-title" href="#">
          <span style="color: #ffffff !important">
            <i
              class="fa-solid fa-house mr-2"
              style="color: #ffffff !important"
            ></i>
          </span>
          Inicio
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="http://localhost:4200/listingview">
            Tiendas
          </a>
        </div>

        <div class="navbar-end">
          <div class="img-container">
            <img [src]="'assets/no-banner.png'" />
          </div>
          <div class="navbar-item">
            <div class="buttons">
              <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <a class="button is-info" routerLink="/singup">
                  <strong>Registrarse</strong>
                </a>
                <a class="button is-info is-light" routerLink="/login">
                  Ingresar
                </a>
              </ng-container>

              <ng-template #loggedIn>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    <span> </span>
                    Panel de Control
                  </a>

                  <div class="navbar-dropdown">
                    <a
                      class="navbar-item"
                      (click)="authService.goToPerfilPanel()"
                    >
                      <span>
                        <i class="fa-solid fa-circle-user mr-2"></i>
                      </span>
                      Perfil de Usuario
                    </a>
                    <a
                      class="navbar-item"
                      (click)="authService.goToStorePanel()"
                    >
                      <span>
                        <i class="fa-solid fa-store mr-2"></i>
                      </span>
                      Perfil de Negocio
                    </a>
                    <a
                      class="navbar-item"
                      (click)="authService.goToModeratorPanel('Dashboard')"
                    >
                      <span>
                        <i class="fa-solid fa-crown mr-2"></i>
                      </span>
                      Perfil de Moderador
                    </a>
                    <hr class="navbar-divider" />
                    <a class="navbar-item" (click)="authService.logOut()">
                      <span>
                        <i class="fa-solid fa-right-from-bracket mr-2"></i>
                      </span>
                      Cerrar Sesión
                    </a>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
