.navigation-title{
    font-size: large;
    font-weight: bold;
}


$backColor: #1e253d;

.navbar-style{

    
    background-color: $backColor;
    div{
        background-color: $backColor;
    }
    a.navbar-item{
        color: var(--lightcolor2);
        &hover{
            background-color: var(--pcolor2);
            color: var(--pcolor2)!important;
        }
    }
    a.navigation-title{
        color: white!important
    }
    
}

