<div class='notification is-primary is-light is-one-third'>
    Total: {{categories.length}} categorías
</div>
<div class='table-container'>
    <table class="table is-hoverable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoría</th>
                <th>Categoría Padre</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
            </thead>
        <tr  *ngFor="let cat of categories"
        [ngStyle]="{'cursor': 'pointer'}" 
        (click)="categoryDetails(cat._id)">
            <td>
                {{cat._id}}
            </td>
            <td>
                {{cat.description}}
            </td>
            <td>
                {{cat.idCategoryParent?.description}}
            </td>
            <td>
                <i class="fa-solid fa-pen-to-square fa-lg" (click)="categoryDetails(cat._id)"></i>
            </td>
            <td>
                <i class="fa-solid fa-trash fa-lg" (click)="deleteCategory(cat._id)"></i>
            </td>
        </tr>
    </table>
</div>