.area-container{
    padding: 80px 40px;
    min-height: 800px;
}


th{
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
}
td{
    font-size: 12px;
    vertical-align: middle;
    line-height: 32px;

}
