<h4 class="title is-5">Details</h4>
<table class="table">
    <thead>
      <tr>
        <th>Items</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{store._id}}</td>
      </tr>
      <tr>
      <tr>
        <th>Name</th>
        <td>{{store.name}}</td>
      </tr>
      <tr>
        <th>Username</th>
        <td>{{store.username}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{store.description}}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{store.address}}</td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{store.city}}</td>
      </tr>
      <tr>
        <th>Is Service</th>
        <td>{{store.isService}}</td>
      </tr>
      <tr>
        <th>Valoration</th>
        <td>{{store.valoration}}</td>
      </tr>
      <tr>
        <th>Category</th>
        <td>{{store.category?.description}}</td>
      </tr>
      <tr>
        <th>User</th>
        <td>{{store.user?.username}}</td>
      </tr>
    </tbody>
</table>