/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";

body {
  min-height: 100vh;
}

:root {
  * {
    //font-family: Poppins;
    // color: #414141;
  }

  --pcolor: #9ed2c6;
  --pcolor2: #6e85b7;
  --pcolor3: #d6efed;
  --lightcolor1: #ffffff;
  --lightcolor2: #f8f8f8;
  --lightcolor3: #e2e2e2;
  --primary: #00d1b2;

  --strongcolor: #15133c;
  --graycolor: #73777b;

  --pinkcolor: #df7861;

  --background: rgba(0, 0, 0, 0.03);

  .area-container {
    padding: 80px 40px;
    min-height: 800px;
  }

  .section-title {
    margin-top: 30px;
    background-color: var(--background);
    padding: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border-top: 3px solid var(--pcolor);
  }
  /* .perfil-container{
        border: 2px solid var(--lightcolor2);
    }

    *::-webkit-scrollbar {
        width: 20px;
      }
      
      *::-webkit-scrollbar-track {
        background: var(--lightcolor1)
      }
      
      *::-webkit-scrollbar-thumb {
        background-color: var(--pcolor);
        border-radius: 20px;
        border: 2px solid var(--lightcolor1);
      } */

  .fondo {
    background-color: rgb(0, 0, 0, 0.1);
  }

  .color {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--backg-color);
  }

  span.breadcrumb {
    color: #707070;
    font-weight: 300;
    font-size: 18px;
    display: inline;
  }


  .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }


  .noMostrar{
    display: none;
  }


}

.gris{
  background-color: rgba(0, 0, 0, 0.03);
  min-height: calc(100vh - 200px);
}

.elipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}