/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';


body{
    min-height: 100vh;
}

:root{

    *{
        font-family: Poppins;
        color: #414141;
    }

    --pcolor: #9ED2C6;
    --pcolor2: #6E85B7;
    --pcolor3: #D6EFED;
    --lightcolor1: #ffffff;
    --lightcolor2: #e9e9e9;
    --lightcolor3: #707070;

    --strongcolor: #15133C;
    --graycolor: #73777B;

    --pinkcolor: #DF7861;

    --backg-color: rgb(245, 245, 245);




    .area-container{
        padding: 80px 40px;
        min-height: 800px;
    }


    .section-title{
        margin-top: 30px;
        background-color: var(--lightcolor1);
        padding: 20px;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        border-top: 3px solid var(--pcolor);
        
    }
    .perfil-container{
        border: 2px solid var(--lightcolor2);
    }

    *::-webkit-scrollbar {
        width: 20px;
      }
      
      *::-webkit-scrollbar-track {
        background: var(--lightcolor1)
      }
      
      *::-webkit-scrollbar-thumb {
        background-color: var(--pcolor);
        border-radius: 20px;
        border: 2px solid var(--lightcolor1);
      }

      w-border{
        border: 2px solid var(--graycolor)!important;
      }

      span.breadcrumb{
        color: #707070;
        font-weight: 300;
        font-size: 18px;
        display: inline;
      }
    
    
}