/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';


body{
    min-height: 100vh;
}

:root{

    *{
        font-family: Poppins;
        color: #414141;
    }

    --pcolor: #9ED2C6;
    --pcolor2: #6E85B7;
    --pcolor3: #D6EFED;
    --lightcolor1: #ffffff;
    --lightcolor2: #e9e9e9;
    --lightcolor3: #707070;

    --pinkcolor: #DF7861;

    --backg-color: rgb(245, 245, 245);




    .area-container{
        padding: 80px 40px;
        min-height: 800px;
    }


    .section-title{
        margin-top: 30px;
        background-color: var(--lightcolor1);
        padding: 20px;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        border-top: 3px solid var(--pcolor);
        
    }
    .perfil-container{
        border: 2px solid var(--lightcolor2);
    }
    
    
}