<div class='columns is-centered'>
  <div class='column'>
      <h2 class="title is-4">Stores</h2>
      <button class="button is-primary is-small btn-cat" routerLink="/newcategory">+</button>
  </div>
</div>
<div class='columns is-centered'>
  <div class='column'>
      <div class='table-container'>
        <table class="table is-hoverable">
            <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>is Service?</th>
                  <th>Valoration</th>
                  <th>Category</th>
                  <th>User Owner</th>
                </tr>
              </thead>
            <tr  *ngFor="let store of stores.data">
                <td>
                    {{store._id}}
                </td>
                <td>
                    {{store.name}}
                </td>
                <td>
                    - {{store.username}}
                </td>
                <td>
                    {{store.address}}
                </td>
                <td>
                    {{store.city}}
                </td>
                <td>
                  {{store.isService}}
              </td>
              <td>
                  {{store.valoration}}
              </td>
              <td>
                  - {{store.idCategory}}
              </td>
              <td>
                  {{store.user}}
              </td>
                <td>
                    <button class="button is-small is-warning btn-cat">Editar</button>
                </td>
                <td>
                    <button class="button is-small is-danger btn-cat">Eliminar</button>
                </td>
            </tr>
        </table> 
      </div>
</div>
</div>
