<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="javascript:void(0)" routerLink="/home">Home</a></li>
      <li><a href="javascript:void(0)" routerLink="/stores">Stores</a></li>
    </ul>
  </nav>


<div class='columns is-centered'>
  <div class='column'>
      <h2 class="title is-4">Stores</h2>
      <button class="button is-primary is-small btn-cat" routerLink="/newstore">+</button>
  </div>
</div>
<div class='columns is-centered'>
  <div class='column'>
      <div class='table-container'>
        <table class="table is-hoverable">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>is Service?</th>
                  <th>*</th>
                  <th>Category</th>
                  <th>User Owner</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
            <tr  *ngFor="let store of stores">
                <td>
                    {{store.name}}
                </td>
                <td>
                    {{store.username}}
                </td>
                <td>
                    {{store.address}}
                </td>
                <td>
                    {{store.city}}
                </td>
                <td>
                  {{store.isService}}
              </td>
              <td>
                  {{store.valoration}}
              </td>
              <td>
                  {{store.idCategory?.description}}
              </td>
              <td>
                  {{store.user?.username}}
              </td>
                <td>
                    <button class="button is-small is-info btn-cat" (click)="goToStore(store._id)">/</button>
                </td>
                <td>
                    <button class="button is-small is-danger btn-cat">X</button>
                </td>
            </tr>
        </table> 
      </div>
</div>
</div>
