
.profile-img{
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    img{
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

}

table.is-hoverable{
    :hover{
        background-color: rgb(238, 238, 238);
    }
    th{
        font-size: 12px;
        font-weight: bold;
    }
    td{
        font-size: 12px;
        vertical-align: middle;

    }
}
