<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="javascript:void(0)" routerLink="/home">Home</a></li>
      <li><a href="javascript:void(0)" routerLink="/users">Users</a></li>
      <li class="is-active"><a href="#" aria-current="page">Edit {{user.username}}</a></li>
    </ul>
  </nav>
  
  <h1 class="title is-4">{{user.username}}</h1>

  <p>Add Profile Picture</p>
<div class='columns'>
  <div class='column is-3'>
    <form  (submit)="uploadPhoto(photoTitle)">
      <div class='field'>
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" placeholder="Photo's Title" #photoTitle>
        </div>
      </div>
      <input type="file"  class="is-hidden" (change)="onPhotoSelected($event)" #photoInput>
      <img [src]="photoSelected || 'assets/no-image.png'" (click)="photoInput.click()">
      <button class="button is-primary block">Submit</button>
    </form>

  </div>
</div>