<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="javascript:void(0)" routerLink="/home">Home</a></li>
      <li><a href="javascript:void(0)" routerLink="/users">Users</a></li>
      <li class="is-active"><a href="#" aria-current="page">Edit {{user.username}}</a></li>
    </ul>
  </nav>
  <div class='columns'>
    <div class='column is-3'>
      <h1 class="title is-4">{{user.username}}</h1>
      <img [src]="'http://localhost:3000/api/uploads/' + user.profilePicture" 
      class="profile-img">
    </div>
    <div class='column is-3'>
      <p>Add Profile Picture</p>
        <form  (submit)="uploadPhoto()">
          <div class='field'>
            <img class="imgTmp" [src]="photoSelected || 'assets/no-image.png'" (click)="photoInput.click()">
          </div>
          <input type="file"  class="is-hidden" (change)="onPhotoSelected($event)" #photoInput>
          <button class="button is-primary block">Submit</button>
        </form>
    </div>
  </div>

  
  

 