.fondo {
  min-height: 100vh;
  background-color: var(--backg-color);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.principal-banner {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: rgb(190, 255, 217); */
    background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=2144&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
  &::before {
    padding-left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    //background-color: var(--pcolor2);
    opacity: 1;
    mix-blend-mode: multiply;
  }

  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35); /* Cambiar el último valor para ajustar el nivel de opacidad */
  }

  .principal-title {
    font-size: 2.5rem;
    color: var(--lightcolor1);
    font-weight: bold;
    display: block;
    text-align: center;
    position: relative;
  }
}



.secondary-title {
  text-transform: uppercase;
  font-size: 1rem;
  color: #181d2f;
  font-weight: bold;
  display: block;
  text-align: center;
}



.stores-box{
  padding: 0 20%;
}

.button-container{
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 3rem;
}