<article class="article-box card mb-5" *ngFor="let store of stores">
  <div class="columns">
    <div class="column is-3 m-auto">
      <img
        *ngIf="store.images[0]"
        [src]="'http://localhost:3000/api/' + store.profilePicture?.path"
      />
      <img *ngIf="!store.images[0]" [src]="'assets/no-banner.png'" />
    </div>
    <div class="column is-6 px-5 caja">
      <div class="content">
        <strong class="title is-4" (click)="goToStore(store._id)">{{
          store.name
        }}</strong>
        <p class="description">{{ store.description }}</p>
      </div>
      <button class="button is-small mb-4" (click)="goToStore(store._id)">
        Ver más
      </button>
    </div>
    <div class="column is-3 val has-text-centered">
      <div class="valoration">
        {{ store.valoration ? store.valoration.toString().slice(0, 3) : "" }}
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</article>
