.prod-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

td{
}

.product-form{
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #b9b9b9;
    margin-bottom: 50px;
}

.img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
}