<div class="columns is-centered fondo">
  <div class="column is-9" style="padding: 0px">
    <div class="banner box p-0">
      <img
        [src]="'http://localhost:3000/api/' + store.banner?.path"
        *ngIf="store.banner"
      />
      <img [src]="'assets/no-portada.jpg'" *ngIf="!store.banner" />
      <h1 class="title is-1" *ngIf="store.banner">{{ store.name }}</h1>
      <h1 class="title is-1 noBanner" *ngIf="!store.banner">
        {{ store.name }}
      </h1>
    </div>

    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="p-6 box">
          <div class="has-text-centered">
            <img
              class="profile-img"
              [src]="'http://localhost:3000/api/' + store.profilePicture?.path"
              *ngIf="store.profilePicture"
            />
            <img
              class="profile-img"
              [src]="'assets/no-banner.png'"
              *ngIf="!store.profilePicture"
            />
          </div>
          <div class="has-text-centered my-5">
            <h2 class="title is-4 mb-2">{{ store.name }}</h2>
            <p class="title is-5">@{{ store.username }}</p>
            <div
              class="is-inline-block tag is-primary is-large my-4 mx-auto has-text-centered"
              style="line-height: 2"
            >
              {{ store.category?.description }}
            </div>
          </div>

          <div class="has-text-centered">
            <div class="mb-5" *ngIf="store.address">
              <div class="mb-1 is-size-6">Dirección</div>
              <p class="is-size-5">{{ store.address }}, {{ store.city }}</p>
            </div>

            <div class="mb-5" *ngIf="store.valoration">
              <div class="mb-1 is-size-6">Valoración</div>
              <div class="valoration">
                {{
                  store.valoration
                    ? store.valoration.toString().slice(0, 3)
                    : ""
                }}
              </div>
              <div class="">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div id="center" class="mb-5" *ngIf="store.website">
              <div class="mb-1 is-size-6">Website</div>
              <a
                class="is-size-5"
                href="https:/{{ store.website }}"
                target="_blank"
                >{{ store.website }}</a
              >
            </div>

            <div class="mb-5" *ngIf="store.telephone">
              <div class="mb-1 is-size-6">Teléfono</div>
              <a class="d-inline-block is-size-5" href="tel:store.telephone">
                +54 9 {{ store.telephone }}
              </a>
            </div>
          </div>
        </div>

        <div class="p-6 box">
          <h3 class="title is-5">Información Adicional</h3>
          <hr />
          <p class="trivial-text">{{ store.description }}</p>
          <hr />

          <div class="flex-wrap-start">
            <div *ngIf="store.instagram" class="mr-4">
              <a
                class="social-link"
                href="https://www.instagram.com/{{ store.instagram }}"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-brands fa-instagram fa-2xl"></i>
              </a>
            </div>
            <div *ngIf="store.twitter" class="mr-4">
              <a
                class="social-link"
                href="https://www.twitter.com/{{ store.twitter }}"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-brands fa-twitter fa-2xl"></i>
              </a>
            </div>
            <div *ngIf="store.facebook" class="mr-4">
              <a
                class="social-link"
                href="https://www.facebook.com/{{ store.facebook }}"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa-brands fa-facebook-f fa-2xl"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-8">
        <div class="box mb-5">
          <app-images [store]="store"></app-images>
        </div>

        <div class="box my-5">
          <app-products></app-products>
        </div>

        <div class="box mt-5">
          <app-add-review></app-add-review>
        </div>

        <div class="box my-5">
          <app-reviews></app-reviews>
        </div>
      </div>
    </div>
  </div>
</div>
