<div class='columns is-multiline'>
    <div class='column is-12'>
        <div class='title is-5 mb-5'>Formulario Comentario</div>
        <hr class="my-5">
        <div class='review'>
            <!-- <div *ngIf="myReview">
                Ya hiciste un comentario en esta tienda!
            </div> -->
            <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                <div class="field">
                    <label class="label">Comentario:</label>
                    <div class="control">
                      <textarea class="input  is-outlined" type="text"  formControlName="comment" placeholder="Ingrese su Comentario"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Puntaje: (de 1 a 5)</label>
                    <div class="control">
                      <input class="input"  type="number" min="1" max="5" formControlName="score">
                    </div>
                </div>
                <div class='buttons has-pulled-right'>
                    <button type="submit" class="button is-primary" [ngClass]="{'is-disabled': myReview, 'deshabilitado': myReview}">Enviar</button>
                    <!-- <span *ngIf="myReview">
                        No puedes publicar un nuevo comentario
                    </span> -->
                </div>
            </form>
        </div>
    </div>
</div>