.profile-img {
  height: 140px;
  width: 140px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.imgTmp {
  width: 100px;
}

.area-container {
  padding: 80px 40px;
  min-height: 800px;
}

.images-container {
  margin-top: 15px;
  width: 100%;
  overflow: auto;
  height: 300px;
  display: flex;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: blue orange; /* scroll thumb and track */
  .img-deco {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      position: relative;
      display: inline;
      &:hover {
        .delete-image-button {
          transition: all 0.5s ease-in-out;
          top: -60px;
        }
      }
    }
    .delete-image-button {
      left: 10px;
      position: relative;
      top: -240px;
    }
  }
}

.hidden {
  display: none;
}

.noHidden {
  display: inline-block;
}

.bannerContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--lightcolor1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pcolor);
  border-radius: 20px;
  border: 2px solid var(--lightcolor1);
}
