<div class='columns is-centered  navbar-border'>
  <div class='column is-10'>
    <app-navigation>
    </app-navigation>

  </div>

</div>
<div class='columns'>
  <div class='column is-2 app-side-menu'>
    <app-side-menu>

    </app-side-menu>
  </div>
  <div class='column app-home'>
    <div class='columns'>
      <div class='column'>
        <app-categories>
        </app-categories>
      </div>
    </div>
    <div class='columns'>
      <div class='column'>
        <app-stores>

        </app-stores>
      </div>
    </div>
    
  </div>
</div>
