

.principal-banner{
    padding: 50px;
    


}

$colorBorders: #c2c2c2;

$colorTextTitles: #5f6368;

$text: #0000;



.pageTitle{
    color: $colorTextTitles;
}

.button
{
    margin:0 20px;
}

.navbar-border{
    border-bottom: 1px solid $colorBorders;
}

.app-home{
    ///background-color: #f0eeee;
}

.padding-mobile{
    padding: 35px;
}