<div class='principal-banner'>
  <div class="columns is-centered">
    <div class='column is-8 has-text-centered'>
      <h1 class="pageTitle title is-1">Directory <strong>App!</strong></h1>
      <h2 class="pageTitle title is-3">Esta WebApp consume una api creada para la materia TTADS</h2>
        <button class="button is-primary is-light">Usuarios</button>
        <button class="button is-primary is-light">Stores</button>
        <button class="button is-primary is-light">Categories</button>
        <button class="button is-primary is-light">Productos</button>
    </div>
  </div>
  <app-categories>
    
  </app-categories>


</div>