.principal-banner{
    padding: 50px;
    background-image: linear-gradient( 135deg, #72EDF2 10%, #53d8b7 100%);


}

$colorTextTitles: #ffffff;

.pageTitle{
    color: $colorTextTitles;
}

.button
{
    margin:0 20px;
}