<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="javascript:void(0)" routerLink="/home">Home</a></li>
      <li><a href="javascript:void(0)" routerLink="/stores">Stores</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{store.name}}</a></li>
    </ul>
  </nav>
<div class='columns'>
  <div class='column is-narrow'>
    <img [src]="'http://localhost:3000/api/' + store.profilePicture?.path" 
      class="profile-img">
  </div>
  <div class='column'>
    <h1 class="title is-4">{{store.name}}</h1>
    <p class="title is-6">@{{store.username}}</p>
    <p class="block">{{store.description}}</p>
  </div>
</div>
<div class='columns'>
  <div class='column'>
    <div class="tabs is-centered">
      <ul>
        <li [class.is-active] = "currentPanel === 'details'" (click)="activateDetails()">
          <a>
            <span>Details</span>
          </a>
        </li>
        <li [class.is-active] = "currentPanel === 'products'" (click)="activateProducts()">
          <a>
            <span>Products</span>
          </a>
        </li>
        <li [class.is-active] = "currentPanel === 'reviews'" (click)="activateReviews()">
          <a>
            <span>Reviews</span>
          </a>
        </li>
        
      </ul>
    </div>

  </div>
</div>

<app-store-details [store]="store" *ngIf="currentPanel=='details'">

</app-store-details>

<app-products-of-store [products]="products" *ngIf="currentPanel=='products'">

</app-products-of-store>

<app-reviews-of-store [reviews]="reviews" *ngIf="currentPanel=='reviews'"> 

</app-reviews-of-store>
