<div *ngIf="category">
  <div class="columns is-centered">
    <div class="column is-12">
      <div class="tag is-info is-large">
        {{ category.description }}
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="label">Descripción</label>
          <div class="control">
            <input class="input" type="text" formControlName="description" />
          </div>
        </div>
        <div class="field">
          <label class="label">Category Parent</label>
          <div class="select">
            <select formControlName="categoryParent">
              <option *ngFor="let cat of categories" [value]="cat._id">
                {{ cat.description }}
              </option>
            </select>
          </div>
        </div>
        <button
          class="button is-info"
          type="submit"
          [disabled]="!categoryForm.valid"
        >
          Editar Categoría
        </button>
      </form>
    </div>
  </div>
</div>
