<div class="">
  <p class="title is-5">Insights</p>
  <div class='dashboard-container'>
    <!-- <div class='box'>
      Usuarios
      <hr>
      <div>Total Usuarios: {{users.length}}</div>
    </div>
    <div class='box'>
      Stores
      <hr>
      <div>Total Tiendas: {{stores.length}}</div>
    </div>
    <div class='box'>
      Categorias
      <hr>
      <div>Total Categorías: {{categories.length}}</div>
    </div> -->
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Entidad</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Usuarios</td>
          <td>{{users.length}}</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Tiendas</td>
          <td>{{stores.length}}</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Categorías</td>
          <td>{{categories.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
