<div class='columns is-centered'>
  <div class='column is-10 area-container'>
    
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="javascript:void(0)" routerLink="/home">Home</a></li>
          <li><a href="javascript:void(0)" routerLink="/stores">Stores</a></li>
          <li class="is-active"><a href="#" aria-current="page">New Store</a></li>
        </ul>
      </nav>
    
    
    <div class='columns is-centered'>
        <div class='column is-8 has-text-centered'>
            <h3 class="title is-4">New Store</h3>
        </div>
    </div>
    <div class='columns is-centered'>
        <div class='column is-5'>
            <div class='card'>
                <div class='card-content block'>
                    <form [formGroup]="storeForm" (ngSubmit)="onSubmit()">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Text input" formControlName="name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Text input" formControlName="username">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Text input" formControlName="description">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Address</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Text input" formControlName="address">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">City</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Text input" formControlName="city">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Valoration</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Text input" formControlName="valoration">
                            </div>
                        </div>
                        <button class="button is-primary" type="submit" [disabled]="!storeForm.valid">Submit</button>
                        <button class="button is-secondary" type="button" (click)="initialize()" >Reset</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>