
<div class="title is-5 mb-5">Comentarios</div>
<hr class="my-5">
<div class='no-reviews mx-auto' *ngIf="reviews.length == 0">
    Esta tienda todavía no tiene comentarios!
</div>


<div class='columns review my-5 is is-centered' *ngFor="let rev of reviews">
    <div class='column is-2 has-text-centered'>
        <div class='img-review-container'>
            <img class="ml-auto"  [src]="'http://localhost:3000/api/' + rev.user.profilePicture?.path || 'assets/no-image.png'" alt="">
        </div>
    </div>
    <div class='column is-5'>
        <div class='globo'>
            <div class='user'>
                By @{{rev.user?.username}}
            </div>
            <div class='content'>
                <p>{{rev.comment}}</p>
                <p>Score: {{rev.score}}</p>
                <div class="time ml-auto">{{rev.updatedAt | date: 'dd MMM yyyy'}}</div>
            </div>
        </div>
        
    </div>

</div>