.review{
    .img-review-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        img{
            width: 80px;
            object-fit: cover;
            border-radius: 50%;
            margin: 0 auto
        }
    }

}

.no-revies{
    text-align: center;
    display: inline-block;
}

.fondo{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

.val{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    .valoration{
        font-size: 3.5rem;
        white-space: nowrap;
    }
}

.stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
        width: 16px;
    }
}
