
<div class="title is-5 mb-5">Comentarios</div>
<hr class="my-5">
<div class='no-reviews mx-auto' *ngIf="reviews.length == 0">
    Esta tienda todavía no tiene comentarios!
</div>


<div class='review' *ngFor="let rev of reviews">
    <div class='img-review-container'>
        <img class=""  [src]="'http://localhost:3000/api/' + rev.user.profilePicture?.path || 'assets/no-image.png'" alt="">
    </div>
    <div class='contenido'>
        <div class='titulo'>{{rev.user?.username}}</div>
        <p class="descripcion">{{rev.comment}}</p>
        <div class="review-footer">
            <div class='valoracion'>Valoración: {{ rev.score ? rev.score.toString().slice(0, 3) : '' }}</div>
            <div class="fecha">{{rev.updatedAt | date: 'dd MMM yyyy'}}</div>
        </div>
    </div>
</div>