<div class="columns p-0 total-container">
  <div class="column is-2 p-0">
    <div class="sticky-bar p-6">
      <div class="title is-6">Secciones</div>
      <ul class="ml-5 pointer">
        <li (click)="goToNegocio()" >
          <span><i class="fa-solid fa-store mr-2"></i></span> Negocio
        </li>
        <li (click)="goToImagenes()" >
          <span><i class="fa-solid fa-images mr-2"></i></span> Imágenes
        </li>
        <li (click)="goToProductos()"  >
          <span><i class="fa-solid fa-bag-shopping mr-2"></i></span> Productos
        </li>
      </ul>
    </div>
  </div>
  <div class="column is-10 p-6 content">
    <h1 class="title is-5"><span class="breadcrumb">Panel / </span>Perfil de Negocio</h1>
    <section class="box p-6" *ngIf="panel == 'configurar'">
      <div  *ngIf="!showPanel" class="notification is-link is-light">
        Parece que todavía no has creado tu Perfil de Negocio
      </div> 
      <div *ngIf="!showPanel" class='column is-12 no-store'>
        <button class="button is-primary is-medium" (click)="createStore()">Configurar</button>
      </div>
    </section>
    <section class="box p-6" *ngIf="panel == 'store'">
            <div class='columns'>
              <div *ngIf="!showPanel" class='column is-12 no-store'>
                <button class="button is-primary is-medium" (click)="createStore()">Configurar</button>
              </div>
            </div>
            <div *ngIf="showPanel">
              <app-store-form ></app-store-form>
            </div>
    </section>
    <section class="box p-6" *ngIf="panel == 'imagenes'">
      <div *ngIf="store">
        <h2 class="title is-5"><span class="breadcrumb">Dashboard / Perfil de Negocio /</span> Imágenes</h2>
        <div class='box perfil '>
          <app-images-of-store [store]="store"></app-images-of-store>
        </div>
      </div>
    </section>
    <section class="box p-6" *ngIf="panel == 'productos'">
      <h2 class="title is-5"><span class="breadcrumb">Dashboard / Perfil de Negocio /</span> Productos</h2>
        <app-panel-products-list [store]="store"></app-panel-products-list>
    </section>
  </div>