/* $text-color: #414141;
$text-deco-color: #afafaf;
$color: var(--pcolor);
$contrast-color: white;
$background-color: var(--backg-color);
 */

*{
    //font-family: Poppins;
}

.fondo{
    min-height: 100vh;
    background-color: var(--background);
    padding-bottom: 50px;
}

.separator{
    padding: 20px
}

*{
    color: var(--strongcolor);
}

.banner{
    width: 100%;
    height: 260PX;
    margin-top:30px;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        display: inline-block;
    }
    h1{
        display: inline-block;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        color: var(--lightcolor1);
        position: relative;
        top: -100px;
        left: 40px;
        z-index: 2;
    
    }
    .noBanner{
        display: inline-block;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        color: var(--lightcolor1);
        position: relative;
        top: 160px;
        left: 40px;
        z-index: 2;
    }
}



.flex-wrap-start{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.profile-img{ 
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    // border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid lightgray;
}


.stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
        width: 16px;
    }
}


.trivial-text{
    font-size: 18px;
    color: var(--strongcolor);
    font-weight: 400;
    margin-bottom: 12px;

}

.svg-size{
    width: 18px;
    height: 18px;
    display: inline-block;

    svg{
        width: 100%;
        height: 100%;
    }
}


.social-link{
    cursor: pointer;
    &:hover{
        color: var(--pcolor);
    }
}


a svg{
    width: 35px;
}
#instagram{
    fill: #E1306C;
}




  .valoration{
    font-size: 48px;
    font-weight: 700;
    white-space: nowrap;
}


.etiquetas{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem!important;
}