<div class='columns p-0 total-container'>
    <div class='column is-3 p-0'>
        <div class='sticky-bar p-6'>
            <div class='title is-6'>Sidebar</div> 
            <ul>
                <li>Usuarios</li>
                <li>Categorías</li>
            </ul>

        </div>
    </div>
    <div class='column is-9 p-6'>
        <h1 class="title is-4">Panel de Moderación</h1>
        <hr>
        <div class='columns is-multiline'>
            <div class='column is-one-third'>
                <div class='notification is-link is-light'>
                    Hola de nuevo {{user.firstName}}!
                </div>
            </div>
        </div>
        <hr>
        <section class='box'>
            <p class="title is-5">Categorías</p>
            <app-categories></app-categories>
        </section>
        <section class='box'>
            <i class="fa-solid fa-users fa-lg"></i><p class="title is-5">Usuarios</p>
            <app-users></app-users>
        </section>
        <section class='box'>
            <p class="title is-5">Tiendas</p>
            <app-stores></app-stores>
        </section>
    </div>
</div>