$text-color: #414141;
$text-deco-color: #afafaf;
$color: rgba(241,114,114,0.75);
$contrast-color: white;
$background-color: rgb(245, 245, 245);

.separator{
    padding: 20px
}

*{
    color: $text-color;
}

.banner{
    width: 100%;
    height: 260PX;
    background: rgba(7, 87, 179, 1);
    margin-top:30px;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        display: inline-block;
    }
    h1{
        display: inline-block;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        color: $contrast-color;
        position: relative;
        top: -100px;
        left: 40px;
        z-index: 1000;
    
    }
}

.fondo{
    min-height: 100vh;
    background-color: $background-color;
    padding-bottom: 50px;
}

.flex-wrap-start{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start;
}

.perfil-container{
    .profile-img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: relative;
        }
    }
    .profile-info{
        margin-left: 20px;

        h2{
            margin-bottom: 10px;
        }
    }

}

.perfil-container{
    margin-top: 30px;
    width: 100%;
    background-color: $contrast-color;
    padding: 10%;

    span{
        margin-right: 15px;
        &:hover{
            cursor: pointer;
        }
    }

}



.single-product{
    width: 100%;
    height: 220px;
    margin-top: 30px;
    background-color: $contrast-color;
    display: flex;
    /* -webkit-box-shadow: 4px 4px 15px -6px rgba(0,0,0,0.61); 
    box-shadow: 4px 4px 15px -6px rgba(0,0,0,0.61); */
    .img-product-container{
        width: 35%;
        height: 100%;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: relative;
        }
    
    }
    .info-product{
        width: 65%;
        height: 100%;
        padding: 15px 35px;
        color: $text-color;
        .superior{
            text-align: end;
            color: $text-deco-color;

            svg{
                width: 14px;
                height: 14px;
                fill: $text-deco-color
            }
        }

        .info h3{
            margin-bottom: 8px;
        }
        .price{
            margin-top: 10px;
            font-size: 22px;
            font-weight: 600;
            color: $text-color;

            .unitOM{
                color: $color;
                font-size: 18px;
                font-weight:500;
                font-style: oblique;

            }
        }

    }
    &:last-child{
        margin-bottom: 100px;
    }
    

}

.info-deco{
    font-size: 14px;
    color: $text-deco-color;
    font-weight: 400;
    margin-bottom: 7px;
}

.trivial-text{
    font-size: 18px;
    color: $text-color;
    font-weight: 400;
    margin-bottom: 12px;

}

.svg-size{
    width: 18px;
    height: 18px;
    display: inline-block;

    svg{
        width: 100%;
        height: 100%;
    }
}

.telephone-container{
    .svg-size{
        width: 26px;
        height: 26px;
        svg{
            .fil0 {fill: $contrast-color}
            .fil1 {fill:$contrast-color;
                fill-rule:nonzero}
        }
    }

    a{
        color: white;
    }
    margin-top: 20px;
    width: 100%;
    min-height: 35px;
    background-color: $color;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 24px;
    border-radius: 4px;


}

.separate-info{
    margin-bottom: 15px;
}

.section-title{
    margin-top: 30px;
    background-color: $contrast-color;
    padding: 20px;
    width: 100%;
    color: $text-color;
    font-size: 18px;
    font-weight: bold;
    border-top: 3px solid $color;
}

.mr-4{
    margin-right: 6px;
}

.social-link{
    cursor: pointer;
    &:hover{
        color: $color;
    }
}




.single-review{
    margin-top: 30px;
    background-color: $contrast-color;
    width: 100%;
    padding: 35px;
    .img-review-container{
        display: inline-block;
        width: 60px;
        height: 60px;
        overflow: hidden;
        img{
            display: inline-block;
            height: 100%;
            max-width: auto;
            position: relative;
        }
    }

    .info-review{
        margin-left: 35px;
        display: inline-block;
        vertical-align: top;
    }
}




.filter-container{
    margin-top: 30px;
    padding: 35px;
    background-color: $contrast-color;
    height: 300px;
}