<h2 class="title is-5 mb-5">Productos</h2>
<hr>
<div class="is-5 mb-5" *ngIf="products.length == 0">Esta tienda no tiene productos</div>

<section class='contenedor-productos'>
    <div class='producto' *ngFor="let prod of products">
        <div class='foto'>
            <img  [src]="'http://localhost:3000/api/' + prod.images[0]?.path || 'assets/no-banner.png'" alt="">
        </div>
        <div class='contenido'>
            <strong>{{prod.title}}</strong>
            <div *ngIf="prod.used">Este Producto es Usado</div>
            <div class='price' *ngIf="prod.price">${{prod.price}}</div>
            <div class='time'>{{prod.updatedAt | date: 'dd MMM yyyy'}}</div>
        </div>
    </div>
</section>