<div class="columns is-multiline">
  <div
    div
    class="column is-4 store"
    *ngFor="let s of stores"
    (click)="goToStore(s._id)"
  >
    <div class="card">
      <div class="card-img">
        <img [src]="'http://localhost:3000/api/' + s.profilePicture?.path" />
      </div>
      <div class="card-content p-5">
        <div class="title is-6 mb-2">
          {{ s.name }}
        </div>
        <div class="cat mb-2">
          {{ s.category?.description }}
        </div>
        <p class="description">{{ s.description }}</p>
        <div class="tag is-light ml-auto my-2">
          <i class="fa-solid fa-eye mr-2"></i>Preview
        </div>
      </div>
      <div class="c-footer p-5">
        <div class="colored" *ngIf="s.address">
          <i class="fa-solid fa-location-dot mr-1"></i>{{ s.address }}
        </div>
        <div class="colored" *ngIf="s.instagram">
          <i class="fa-brands fa-instagram mt-3 mr-1"></i>{{ s.instagram }}
        </div>
      </div>
    </div>
  </div>
</div>
