<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label">Descripción</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Nombre de la categoría"
        formControlName="description"
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Categoría Padre</label>
    <div class="select">
      <select formControlName="categoryParent">
        <option *ngFor="let cat of categories" [value]="cat._id">
          {{ cat.description }}
        </option>
      </select>
    </div>
  </div>
  <button
    class="button is-primary ml-auto"
    type="submit"
    [disabled]="!categoryForm.valid"
  >
    Crear Categoría
  </button>
</form>
