.img{
    border-radius: 5%;
    width: 80%;
    aspect-ratio: 10 / 10;
    object-fit: cover;
}

.img2{
    border-radius: 5%;
    width: 100%;
    aspect-ratio: 10 / 10;
    object-fit: cover;
}

.img-container{
position: relative;
border: 1px solid lightgray;

    button{
        position: absolute;
        top:20px;
        right: 20px;
        
    }
}