
<div class='columns is-multiline'>
    <div class='column is-3'>
        <div class='title is-6 mb-3 ml-5'>Agregar Imágen</div>
        <img class="img" [src]="photoSelected || 'assets/no-banner.png'" (click)="photoInput.click()" [ngStyle]="{'cursor': 'pointer'}">
        <input type="file" class="is-hidden" (change)="onPhotoSelected($event)" #photoInput>
        <button class="button is-primary" (click)="uploadPhoto()">Aceptar</button>
    </div>
    <div class='column is-3' *ngFor="let img of store.images">
        <div class="img-container" >
            <button class="button is-danger is-small" (click)="deletePhoto(img._id)">Eliminar</button>
            <img class="img2" #imgPerfil [src]="'http://localhost:3000/api/' + img.path || 'assets/no-image.png'" alt="">
        </div>
    </div>
</div>