.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  .img-container {
    overflow: hidden;
    border: 1px solid lightgray;
    img{
      width: 100%; /* Asegúrate de que las imágenes ocupen todo el espacio disponible */
      height: auto; /* Mantén la proporción de aspecto */
      aspect-ratio: 1 / 1; /* Mantén un aspecto cuadrado */
      object-fit: cover;
    }
  }
}

