.gallery {
  padding: 30px;
  display: flex; 
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  .img-container {
    border-radius: 0;
    aspect-ratio: 4 / 4;
    width: 30%;
    object-fit: cover;
    overflow: hidden;
    min-width: 260px;
    img{
      
    }
  }
}

