.footer-container{
    margin-top: 40px;
    background-color: #202020;
    color: white;
}

.branding-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;

   .title{
    color: white;

   }
}

.second-branding-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;

    ul{
        li{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
            a{
                color: gray;
            }
        }
    }
}