<div class='columns footer-container is-centered'>
    <div class='column is-4'>
        <div class='branding-footer'>
            <h4 class="title is-2">The Best directory</h4>

        </div>

    </div>
    <div class='column is-4'>
        <div class='second-branding-footer'>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Stores</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Users</a></li>
            </ul>

        </div>
            

    </div>
</div>