<div class='columns is-centered m-0 fondo' >
    <div class='column is-9' style="margin-top: 50px; padding-bottom: 150px;">
        <h1 class="title is-5"><span class="breadcrumb">Panel / </span>Información Personal</h1>
    
        <div class='box perfil'>
            <div class='columns'>
                <div class='column is-3 has-text-centered border is-info'>
                    <div class="img-perfil" >
                        <img #imgPerfil [src]="baseURL + user.profilePicture?.path" alt="" *ngIf="user.profilePicture">
                        <img #imgPerfil [src]="'assets/no-banner.png'" alt="" *ngIf="!user.profilePicture">
                    </div>
                    <button type="" class="button is-link is-light is-small" (click)="showPhotoForm()">Editar Foto de Perfil</button>
                    <form *ngIf="showForm" class="newPhoto" (submit)="uploadPhoto()">
                        <label class="label">Nueva Imagen de Perfil</label>              
                        <input type="file" (change)="onPhotoSelected($event)" #photoInput>
                        <button class="button is-primary block">Enviar</button>
                    </form>
                </div>
                <div class='column is-9'>
                    <div *ngIf="showDiv" class="notification is-primary is-light">
                        Los cambios se han guardado correctamente.
                    </div>
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <div class="field">
                            <label class="label">Nombre:</label>
                            <div class="control">
                              <input class="input is-outlined" type="text"  formControlName="firstName" placeholder="Ingrese su nombre">
                            </div>
                            <p *ngIF="!user.firstName" class="help is-danger">Este campo es obligatorio</p>
                        </div>
                        <div class="field">
                            <label class="label">Apellido:</label>
                            <div class="control">
                              <input class="input is-outlined" type="text"  formControlName="lastName" placeholder="Ingrese su nombre">
                            </div>
                            <p *ngIF="!user.firstName" class="help is-danger">Este campo es obligatorio</p>
                        </div>
                        <div class="field">
                            <label class="label">Username:</label>
                            <div class="control">
                              <input class="input is-outlined" type="text"  formControlName="username" placeholder="Ingrese su nombre">
                            </div>
                            <p *ngIF="!user.firstName" class="help is-danger">Este campo es obligatorio</p>
                        </div>
                        <div class="field">
                            <label class="label">Email:</label>
                            <div class="control">
                              <input class="input is-outlined" type="email"  formControlName="email" placeholder="Ingrese su nombre">
                            </div>
                            <p *ngIF="!user.firstName" class="help is-danger">Este campo es obligatorio</p>
                        </div>
                        <div class="field" style="display: none">
                            <label class="label">Password:</label>
                            <div class="control">
                              <input class="input is-outlined disabled" type="password"  formControlName="password" >
                            </div>
                            <p *ngIF="!user.firstName" class="help is-danger">Este campo es obligatorio</p>
                        </div>
                        <div class="field">
                            <label class="label">Phone:</label>
                            <div class="control">
                              <input class="input is-outlined" type="text"  formControlName="phone" placeholder="Ingrese su nombre">
                            </div>
                            <p *ngIF="!user.firstName" class="help is-danger">Este campo es obligatorio</p>
                        </div>
                        <div class='buttons is-pulled-right'>
                            <button type="submit" class="button is-primary">Guardar cambios</button>
                        </div>
                    </form>
                    <div class='centrar'>
                        <div class="tag is-warning mx-auto mt-4" [class.noMostrar]="toggle">{{error}}</div>
                      </div>
                </div>
            </div>
        </div>

    </div>
</div>