<div class='menu-container'>
    <div class=''>
        <ul class="ul-side-menu">
            <li class="li-side-menu">
                <a href="javascript:void(0)" routerLink="/stores">Stores</a> 
            </li>
            <li class="li-side-menu">
                <a href="javascript:void(0)" routerLink="/categories">Categories</a> 
            </li>
            <li class="li-side-menu">
                <a href="javascript:void(0)" routerLink="/users">Users</a> 
            </li>
            <li class="li-side-menu">Configuración</li>
        </ul>
    </div>
</div>