<div class='columns m-0'>
    <div class='column principal-banner'>
        <h1 class="principal-title">Discover Your City</h1>
        <div class='principal-input-container columns is-centered'>
            <div class='column is-half'>
                <div class='principal-form'>
                    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                        <input id="inputForm" type="text" placeholder="Que estás buscando?"  formControlName="keySearch">
                        <button id="buttonForm"  type="submit">Buscar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class='fondo'>
    <div class='columns m-0 '>
        <div class='column most-popular-stores'>
            <h1 class="secondary-title">Most popular stores</h1>
        </div>
        
    </div>
    <div class='columns is-multiline is-centered' style="padding: 30px;">
        <div class='column is-narrow' *ngFor="let store of stores" (click)="goToStore(store._id)" [ngStyle]="{'cursor': 'pointer'}" >
            <div  class='store-card mx-auto'>
                <div class='image-container' >
                    <div class='image-decoration'>
                        <img [src]="'http://localhost:3000/api/' + store.profilePicture?.path"  *ngIf="store.profilePicture">
                        <img class="noPicture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Hollywood_Sign_%28Zuschnitt%29.jpg/1200px-Hollywood_Sign_%28Zuschnitt%29.jpg"  *ngIf="!store.profilePicture">
                        <div class='store-title'>
                            {{store.name}}
        
                        </div>
                    </div>
                    
                </div>
                <div class='info-container'>
                    <h2 class="store-info">@{{store.username}}</h2>
                    <p class="store-city">{{store.city}}</p>
                    <span> </span>
                </div>
                
            </div>
        </div>
    </div>

</div>