.card {
    border: 1px solid lightgray;
    box-shadow: none;
    min-height: 300px;
    border-radius: 8px;
    &:hover {
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
      cursor: pointer;
    }
    .card-img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      display: flex;
      align-items: center;
      position: relative;
      aspect-ratio: 1.5 / 1;
      overflow: hidden;
      border-bottom: 1px solid lightgray;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 11.5rem;
      .cat {
        color: #979797;
      }
  
      .description {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* Número de líneas que se mostrarán */
      }
    }
  }
  
  
  .valoration{
    padding-left: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 15px;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.3rem 1rem;
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
    svg{
      color: white;
      margin-left: 6px;
    }
}
