<div class="notification is-info is-light" *ngIf="!identifier">
  No has seleccionado ningún usuario
</div>
<hr />
<div class="columns is-multiline mt-4" *ngIf="identifier">
  <div class="column is-2 has-text-centered">
    <img
      #imgPerfil
      [src]="
        baseURL + user.profilePicture?.path ||
        'assets/no-image.png'
      "
      class="profile-img"
      (error)="imageError($event)"
    />
    <button
      type=""
      class="button is-link is-light is-small"
      (click)="showPhotoForm()"
    >
      Editar Foto de Perfil
    </button>
    <form *ngIf="showForm" class="newPhoto" (submit)="uploadPhoto()">
      <label class="label is-small mt-3">Nueva Imagen de Perfil</label>
      <input type="file" (change)="onPhotoSelected($event)" #photoInput />
      <button class="button is-primary block mt-3 is-small">Enviar</button>
    </form>
  </div>

  <div class="column is-6">
    <div *ngIf="showDiv" class="notification is-primary is-light">
      Los cambios se han guardado correctamente.
    </div>
    <span class="tag is-info is-small my-3">_id: {{ identifier }}</span>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label is-small">Nombre:</label>
        <div class="control">
          <input
            class="input is-outlined is-small"
            type="text"
            formControlName="firstName"
            placeholder="Ingrese su nombre"
          />
        </div>
        <p *ngIF="!user.firstName" class="help is-danger is-small">
          Este campo es obligatorio
        </p>
      </div>
      <div class="field">
        <label class="label is-small">Apellido:</label>
        <div class="control">
          <input
            class="input is-outlined is-small"
            type="text"
            formControlName="lastName"
            placeholder="Ingrese su nombre"
          />
        </div>
        <p *ngIF="!user.firstName" class="help is-danger">
          Este campo es obligatorio
        </p>
      </div>
      <div class="field">
        <label class="label is-small">Username:</label>
        <div class="control">
          <input
            class="input is-outlined is-small"
            type="text"
            formControlName="username"
            placeholder="Ingrese su nombre"
          />
        </div>
        <p *ngIF="!user.firstName" class="help is-danger">
          Este campo es obligatorio
        </p>
      </div>
      <div class="field">
        <label class="label is-small">Email:</label>
        <div class="control">
          <input
            class="input is-outlined is-small"
            type="email"
            formControlName="email"
            placeholder="Ingrese su nombre"
          />
        </div>
        <p *ngIF="!user.firstName" class="help is-danger">
          Este campo es obligatorio
        </p>
      </div>
      <div class="field">
        <label class="label is-small">Phone:</label>
        <div class="control">
          <input
            class="input is-outlined is-small"
            type="text"
            formControlName="phone"
            placeholder="Ingrese su nombre"
          />
        </div>
        <p *ngIF="!user.firstName" class="help is-danger">
          Este campo es obligatorio
        </p>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" formControlName="role">
            Moderador
          </label>
        </div>
      </div>
      <div class="buttons is-pulled-right">
        <button type="submit" class="button is-primary is-small">
          Guardar cambios
        </button>
      </div>
    </form>
    <button class="ml-3 button is-danger is-small" (click)="deleteUser()">
      Eliminar Usuario
    </button>
  </div>

  <div class="column is-4 has-text-centered">
    <div class="tag is-info is-light" *ngIf="!user.store">
      El usuario no tiene un negocio asociado
    </div>
    <div *ngIf="user.store">
      <div class="tag is-info">Store</div>
      <div class="store-section">
        <p class="title is-3">{{ user.store?.name }}</p>
        <img
          [src]="baseURL + user.store.profilePicture?.path"
          *ngIf="user.store"
          (error)="imageError($event)"
        />
        <p class="subtitle is-6 my-5">{{ user.store?.description }}</p>
      </div>
    </div>
  </div>
</div>
