<div class='columns is-centered m-0' >
    <div class='column is-9' style="margin-top: 50px; padding-bottom: 150px;">
        <h1 class="title is-4">Perfil</h1>
    
        <div class='box perfil'>
            <div></div>
            <div class="img-perfil" >
                <img [src]="'http://localhost:3000/api/' + user.profilePicture?.path" alt="">
            </div>
            <div class='info-header'>
                <h2 class="title is-5 mb-2">@{{user.username}}</h2>
                <p class="title is-6 my-2">{{user.firstName}} {{user.lastName}}</p>
                <p class="title is-6 my-2">{{user.email}}</p>
            </div>
        </div>

    </div>
</div>