  
  
    <div class="columns p-0 total-container">
      <div class="column is-2 p-0">
        <app-navigation-panel-store [tienda]="store"></app-navigation-panel-store>
        </div>
      <div class="column is-10 p-6 gris">
        <h1 class="title is-5"><span class="breadcrumb">Panel / </span>Perfil de Negocio / Imagenes</h1>
        <section class="box p-6"> 
          <div class='title is-5'>Crear Producto</div>
          <div class='product-form'>
            <div class='columns'>
              <div class='column is-2'>
                <img class="img" [src]="photoSelected || 'assets/no-banner.png'" (click)="photoInput.click()" [ngStyle]="{'cursor': 'pointer'}">
                <input type="file" class="is-hidden" (change)="onPhotoSelected($event)" #photoInput>
              </div>
              <div class='column is-10'>
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                  <div class="field">
                      <label class="label">Título:</label>
                      <div class="control">
                        <input class="input  is-outlined" type="text"  formControlName="title" placeholder="Ingrese el título de su producto">
                      </div>
                      <label class="label">Descripción:</label>
                      <div class="control">
                        <textarea class="input  is-outlined" type="text"  formControlName="description" placeholder="Ingrese una descripción"></textarea>
                      </div>
                      <label class="label">Ciudad:</label>
                      <div class="control">
                        <input class="input  is-outlined" type="text"  formControlName="location" placeholder="Ciudad">
                      </div>
                      <label class="label">Precio:</label>
                      <div class="control">
                        <input class="input  is-outlined" type="number"  formControlName="price" placeholder="Precio">
                      </div>
                      <label class="checkbox">
                        <input type="checkbox" formControlName="used">
                        El Producto es usado
                      </label>
                  </div>
                  <div class='buttons '>
                    <button type="submit"  class="button is-primary">Crear</button>
                  </div>
                </form>
              </div>
            </div>
          
          </div>
          <div class='title is-5'>Productos</div>          
          <table class="table is-hoverable is-fullwidth is-stripped">
            <thead>
              <tr>
                <th>Imagen</th>
                <th>Id</th>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Ciudad</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tr *ngFor="let prod of products">
              <td>
                <img [src]="baseURL + prod.images[0]?.path"  class="prod-img">
              </td>
              <td>
                 <div class='tag is-link'> {{prod._id}}</div>
              </td>
              <td>
                  {{prod.title}}
              </td>
              <td>
                  {{prod.description}}
              </td>
              <td>
                  ${{prod.price}}
              </td>
              <td>
                  {{prod.location}}
              </td>
              <td>
                <button class="button is-small is-info is-light mr-3" (click)="goToProduct(prod._id)">Editar</button>
                <button class="button is-small is-danger is-light" (click)="deleteProduct(prod._id)">Eliminar</button>
              </td>
            </tr>
          </table>

        </section>
      </div>
    


