<div class='columns is-centered'>
    <div class='column'>
        <h2 class="title is-4">Users</h2>
        <button class="button is-primary is-small btn-cat" routerLink="/newuser">+</button>
    </div>
</div>
<div class='columns is-centered'>
    <div class='column'>
        <div class='table-container'>

            <table class="table is-hoverable">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Email</th>
                      <th>Username</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Phone</th>
                    </tr>
                  </thead>
                <tr  *ngFor="let user of users.data">
                    <td>
                        {{user._id}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        - {{user.username}}
                    </td>
                    <td>
                        {{user.firstName}}
                    </td>
                    <td>
                        {{user.lastName}}
                    </td>
                    <td>
                        {{user.phone}}
                    </td>
                    <td>
                        <button class="button is-small is-warning btn-cat">Editar</button>
                    </td>
                    <td>
                        <button class="button is-small is-danger btn-cat">Eliminar</button>
                    </td>
                </tr>
            </table>
        </div>
</div>
</div>
