<div class="box p-6">
  <p class="title is-5">Usuarios</p>
  <div class="table-container">
    <p class="is-small">Mostrando {{ n }} usuarios de {{ users.length }}</p>
    <table class="table is-hoverable">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Email</th>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Tienda</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>
      <tr
        *ngFor="
          let user of users | paginate : { itemsPerPage: n, currentPage: p }
        "
        (click)="this.identifier = user._id"
        [ngStyle]="{ cursor: 'pointer' }"
      >
        <td>
          <img
            [src]="'http://localhost:3000/api/' + user.profilePicture?.path"
            class="profile-img"
            *ngIf="user.profilePicture"
          />
          <img
            [src]="'assets/no-image.png'"
            class="profile-img"
            *ngIf="!user.profilePicture"
          />
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.username }}
        </td>
        <td>
          {{ user.firstName }}
        </td>
        <td>
          {{ user.lastName }}
        </td>
        <td>
          <span class="tag is-link is-light" *ngIf="user.store">{{
            user.store?.name
          }}</span>
        </td>
        <td>
          <i
            class="fa-solid fa-pen-to-square fa-lg"
            (click)="this.identifier = user._id"
            [ngStyle]="{ cursor: 'pointer' }"
          ></i>
        </td>
        <td>
          <i class="fa-solid fa-trash fa-lg" (click)="deleteUser(user._id)"></i>
        </td>
      </tr>
    </table>
    <pagination-controls
      class="my-pagination"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>

<div class="box p-6">
  <p class="title is-5">Panel de edición</p>
  <app-edit-users [identifier]="identifier"> </app-edit-users>
</div>
